.navbar {
  width: 100%;
  height: 8%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00000018;
}

.navbar p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 2%;
}

.chatty-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.chatty-logo h2 {
  font-weight: 700;
  margin-left: 10%;
  font-size: 1.8rem;
}

.chatty-logo img {
  width: 52px;
  height: 52px;
  margin-left: 5%;
}

.navbar-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar-user img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.navbar-user p {
  margin-right: 1rem;
}

.popup {
  position: absolute;
  top: 8%;
  min-width: 12%;
  min-height: 12%;
  border: 2px solid #00000018;
  right: 0rem;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popup p {
  font-size: 1rem;
  padding: 0.25rem;
}

.popup button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #E10C0C;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

